/* Используемые цвета */

:root {
  --basic-extra-dark:#2D3440;
  --basic-dark:#565C66;
  --basic-neutral:#B9B9B9;
  --basic-light:#E7E7E7;
  --basic-extra-light:#FCFCFC;
  --basic-white:#FFFFFF;
  --special-extra-bright:#FF2F64;
  --special-bright:#FF4A78;
  --special-neutral:#FF7799;
  --special-light:#FEAFC3;
  --special-extra-light:#FFCBD8;
  --special-blue:#69A9FF;
  --special-yellow:#FCC850;
  --status-error:#EA5454;
  --status-warning:#FD912E;
  --status-success:#00E484;
}


/* Используемые шрифты */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/inter-400.woff2);
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/inter-700.woff2);
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/inter-900.woff2);
}


/* Обнуление стилей, фон и шрифт для страницы */

body {
  background-color:var(--special-light);
  font-family: 'Inter';
  margin: 0;
}


/* Кнопки */


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;

  font-family: 'Inter';
  cursor: pointer;

  padding: 0;
}

.button--search {
  border-radius: 16px;
  border: 2px solid transparent;
  background: rgba(252, 252, 252, 0.3);

  width: 32px;
  height: 32px;
}

.button--search:hover {
  background: rgba(252, 252, 252, 0.5);
}

.button--search:active {
  background: var(--basic-extra-light);
}

.button--search:focus {
  border: 2px solid #2D3440;
  outline: transparent;
}

.button--header {
  border-radius: 16px;
  border: 2px solid transparent;
  background: rgba(252, 252, 252, 0.3);

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);

  padding: 4px 14px;
  gap: 6px;
}

.button--header:hover {
  background: rgba(252, 252, 252, 0.5);
}

.button--header:active {
  background: var(--basic-extra-light);
}

.button--header:focus {
  border: 2px solid #2D3440;
  outline: transparent;
}

.button--primary {
  border-radius: 26px;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  border: 0;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);

  padding: 12px 32px;
}

.button--primary:hover {
  outline: 4px solid var(--basic-extra-light);
  background: rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.button--primary:active {
  outline: 2px solid var(--basic-extra-dark);
  background: var(--basic-extra-light);
}

.button--primary:focus {
  outline: 2px solid var(--basic-extra-dark);
  background: rgba(252, 252, 252, 0.5);
}


/* Параграфы и заголовки */

.title-xl {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;

  color: var(--basic-extra-dark);
  margin: 0;
}

.title-l {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;

  color: var(--basic-extra-dark);
  margin: 0;
}

.title-m {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: var(--basic-extra-dark);
  margin: 0;
}

.title-xs {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: var(--basic-extra-dark);
  margin: 0;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  color: var(--basic-extra-dark);
  margin: 0;
}

.text-medium {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: var(--basic-extra-dark);
  margin: 0;
}

.text-small {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: var(--basic-extra-dark);
  margin: 0;
}

.text-small-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: var(--basic-extra-dark);
  margin: 0;
}

.sign-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: var(--basic-dark);
  margin: 0;
}

.sign-text-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

  color: var(--basic-dark);
  margin: 0;
}

.sign-text-small {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: var(--basic-dark);
  margin: 0;
}


/* Хедер (site-navigation) */

.header {
  max-width: 1170px;
  height: 104px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__site-navigation {
  display: flex;
}

.header__logo {
  height: 56px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
}

.navigation__item {
  display: inline-block;
  margin-left: 32px;
}

.navigation__link {
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 6px;
}


/* Хедер (user-navigation) */

.header__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
}

.header__item {
  display: inline-block;
  margin-left: 16px;
}

.header__link {
  text-decoration: none;
}


/* Баннеры с подарками */

.banner {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 80px;

  display: flex;
  flex-direction: column;
}

.banner__title {
  margin: 0 auto;
  text-align: center;
}

.banner__flex-container {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.banner__background {
  width: 570px;
  height: 268px;
  border-radius: 16px;
  background: var(--special-neutral);

  box-sizing: border-box;
  display: flex;
  gap: 11px;
}

.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 36px 0 36px 36px;
}
